.App {
  text-align: center;
}

.searchBar{
  height: 50px;
  width: 95%;
  margin: 1% 1% 1% 1%;
  border: solid;
  border-width: 4px;
  border-color: darkslategrey;
  font-size: x-large;
  font-family: sans-serif;
  color: #23254a;
}


.footer{
  height: 50px;
  background-color: #2329a5;
  padding-top: 10px;
  width: 100%;
  float: right;
  text-align: center;
}

.pgbtn{
  background-color: #2329a5;
  margin-left: 24px;
  font-size: larger;
  text-align: center;
  color: aliceblue;
}